<%= form_for @light_display, :html => { multipart: true } do |f| %>
  <% if @light_display.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@light_display.errors.count, "error") %> prohibited this light_display from being saved:</h2>

      <ul>
      <% @light_display.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control'  %>
  </div>

	<div class="form-group">
		<%= f.label :picture %>
		<%= file_field_tag "images[]", type: :file, multiple: false, class: 'form-control'  %>
	</div>

  <%= link_to "Cancel", session.delete(:return_to), :class => "btn btn-lg btn-default col-sm-5" %>
  <button class="btn btn-lg btn-primary col-sm-5 col-sm-offset-2" type="submit">Submit</button>
<% end %>

